Source: fog05-plugin-net-linuxbridge
Section: unkown
Priority: optional
Maintainer: ATO Labs <info@adlink-labs.tech>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://fog05.io
Vcs-Browser: https://github.com/eclipse-fog05/plugin-net-linuxbridge
Vcs-Git: https://github.com/eclipse-fog05/plugin-net-linuxbridge

Package: fog05-plugin-os-linux
Architecture: amd64
Depends: python3 (>= 3.6), python3-pip (>= 9.0), python3-dev (>= 3.6), jq (>= 1.5), fog05 (= 0.1-1)
Description: Eclipse fog05 Linux Plugin
 Eclipse fog05 LinuxBridge Plugin
 This plugin allow network virtualisation leveraging LinuxBridge and Linux IP2 Stack