Source: fog05-plugin-fdu-containerd
Section: unkown
Priority: optional
Maintainer: ATO Labs <info@adlink-labs.tech>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://fog05.io
Vcs-Browser: https://github.com/eclipse-fog05/plugin-fdu-containerd
Vcs-Git: https://github.com/eclipse-fog05/plugin-fdu-containerd

Package: fog05-plugin-fdu-containerd
Architecture: amd64
Depends:  jq (>= 1.5), fog05 fog05 (>= 0.1)
Description: Eclipse fog05 Containerd Plugin
 This plugin allow to manage OCI Containers as FDUs