Source: fog05
Section: unkown
Priority: optional
Maintainer: ADLINK Technology ATO Labs <info@adlink-labs.tech>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://fog05.io
Vcs-Browser: https://github.com/eclipse-fog05/agent
Vcs-Git: https://github.com/eclipse-fog05/agent.git

Package: fog05
Architecture: amd64
Depends: libc6 (>= 2.27), libev4 (>= 1:4.04), libssl1.1 (>= 1.1.0)
Description: Eclipse fog05 Agent
 Closed loop management of device, LCM of plugins